﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title info</h2>
<h3>@ViewBag.Message</h3>

<address>
    Fakultet elektrotehnike i računarstva <br />
    Kolegij: <strong>Objektno oblikovanje</strong>
</address>

<address>
    <strong>Vedran Prišćan</strong> <a href="mailto:vedran.priscan@fer.hr">vedran.priscan@fer.hr</a><br />
    <strong>Mate Šimović</strong> <a href="mailto:mate.simovic@fer.hr">mate.simovic@fer.hr</a><br />
    <strong>Alen Hrga</strong> <a href="mailto:alen.hrga@fer.hr">alen.hrga@fer.hr</a>
</address>