﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>E-Aristotel learning</h1>
    <p class="lead">Want to learn Maths and Physics practicing fun exercises and taking stress-free exams? You have come to the right place.</p>
    <p><a href="/Repositories" class="btn btn-primary btn-lg">Get started</a></p>
</div>

<style>
    body {
        -moz-background-image: https://c1.staticflickr.com/6/5593/14291867866_a03ca3c060_b.jpg
    }
</style>

<div class="row">
    
        <img class="center" src="https://c1.staticflickr.com/6/5593/14291867866_a03ca3c060_b.jpg"/>
    

</div>