﻿@using FluentNHibernate.Conventions
@model EAristotelWeb.Models.RepositoryDetailsModel

<h2>@ViewBag.Title</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        @if (Model.Name != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        }

        @if (Model.ParentRepository.Id != null)
        {
            <dt>
                Parent Repository
            </dt>
            <dd>
                @Html.ActionLink(Model.ParentRepository.Name, "Details", new {id = Model.ParentRepository.Id})
            </dd>
        }

        @if (Model.ChildrenRepositories.IsNotEmpty())
        {
            <dt>Sub Repositories</dt>
            foreach (var simpleChildRepository in Model.ChildrenRepositories)
            {
                <dd>@Html.ActionLink(simpleChildRepository.Name, "Details", new {id = simpleChildRepository.Id}) </dd>
            }
        }
    </dl>

    <table class="table">
        <tr>
            <th>
                @Html.Label("Materials")
            </th>
            <th>
                @Html.Label("Exercises")
            </th>
            <th>
                @Html.Label("Exams")
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                <table>
                    @foreach (var simpleMaterial in Model.Materials)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(simpleMaterial.Name, "Details", new {id = simpleMaterial.Id, controller = "Material"})
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                <table>
                    @foreach (var simpleExcercise in Model.Exercises)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(simpleExcercise.Name, "Details", new {id = simpleExcercise.Id, controller = "Exercise"})
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => simpleExcercise.Content)
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                <table>
                    @foreach (var simpleExam in Model.Exams)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(simpleExam.Name, "TakeExam", new {id = simpleExam.Id, controller = "Exam"})
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>


    </table>
    @foreach (var simpleMaterial in Model.Materials)
    {
    }
</div>
<p>
    <!--@Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |-->
    @Html.ActionLink("Back to List", "Index")
</p>