﻿@model IEnumerable<EAristotelDomain.model.repository.LeRepository>

@{
    ViewBag.Title = "Repositories";
}

<div class="row">
    <h2>Repositories</h2>

</div>
<br/><br/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a title="Open repository" href='@Url.Action("Details", new {id = item.Id})'>
                    <span class="glyphicon glyphicon-folder-open"></span>
                </a>
            </td>
        </tr>
    }

</table>