﻿@model EAristotelDomain.model.material.Material

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.Label("Repository")
        </dt>

        <dd>
            @Html.ActionLink((string) ViewBag.RepoName, "Details", "Repositories", new { id = ViewBag.RepoId }, null)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Repository", "Details", new { Controller = "Repositories", Id = @Model.Repository.Id })
</p>
