﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" async
            src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("e-Aristotel", "Index", "Home", new {area = ""}, new {@class = "navbar-brand navbar-text"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Repositories", "Index", "Repositories", null, new { @class = "navbar-text" })</li>
                <li>@Html.ActionLink("Exercises", "Index", "Exercise", null, new { @class = "navbar-text" })</li>
                <li>@Html.ActionLink("Materials", "Index", "Material", null, new { @class = "navbar-text" })</li>
                <li>@Html.ActionLink("Exams", "Index", "Exam", null, new { @class = "navbar-text" })</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "navbar-text" })</li>
                <li></li>
            </ul>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                @using (Html.BeginForm("Search", "Repositories", "", FormMethod.Get, new {@class = "navbar-form"}))
                {
                    <h2>
                        <div class="input-group">
                            <input class="form-control" name="query" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span type="submit" class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </h2>
                }
            </div>
            <!--@Html.Partial("_LoginPartial")-->
        </div>
    </div>
</div>
    <br/>
<div class="container body-content">
    @Scripts.Render("~/bundles/jquery")
    <br/>
    @RenderBody()
    <hr/>
    <footer>
        <p>Objektno oblikovanje &copy; Seminar @DateTime.Now.Year</p>
    </footer>
</div>


@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>