﻿@model EAristotelDomain.model.exercise.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.Label("Repository")
        </dt>

        <dd>
            @Html.ActionLink((string) ViewBag.RepoName, "Details", "Repositories", new { id = ViewBag.RepoId }, null)
        </dd>

    </dl>
    
    <hr/>
    <a href="#" id="showSolutionsButton"> Show solutions..</a>    
    <div id="solutionContainter" class="container">
        <hr />
        
        <div class="panel panel-success">
            <div class="panel-heading">Best solution</div>
            <div class="panel-body">
                @if (Model.BestSolution != null)
                {
                    <p>@Model.BestSolution.StepByStep</p>
                    <br />
                    <strong>Result: </strong><p>@Model.BestSolution.Result</p>

                }
                else
                {
                    <p>There is no best solution yet</p>
                }
            </div>
        </div>
        
        <hr />
        <div class="panel panel-default">
            <div class="panel-heading">All solutions | @Html.ActionLink("Create new solution", "CreateSolution", new { eId = Model.Id })</div>
            <div class="panel-body">
                @foreach (var sol in ViewBag.Solutions)
                {
                    <div class="col-md-12">@sol.StepByStep</div>
                    <br />
                    <strong>Result: </strong><span>@sol.Result</span>
                    <hr />
                }
            </div>
        </div>
    </div>
    <hr />
    <script>
        $("#solutionContainter").hide();
        $("#showSolutionsButton").click(function() {
            $("#solutionContainter").show();
        });
    </script>
</div>
<p>
    <!--@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |-->
    @Html.ActionLink("Back to Repository", "Details", new { Controller = "Repositories", Id = @Model.Repository.Id })
</p>
