﻿@model IEnumerable<EAristotelDomain.model.exam.Exam>

@{
    ViewBag.Title = "Exams";
}

<h2>All exams</h2>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Take this exam", "TakeExam", new { id=item.Id })
        </td>
    </tr>
}

</table>
