﻿@using EAristotelDomain.model.exam
@using WebGrease.Css.Extensions
@model EAristotelDomain.model.exam.Exam

@{
    ViewBag.Title = "Take Exam";
    var evaluationModel = (ExamEvaluationModel) null;
}

@if (ViewBag.Results)
{
    evaluationModel = (ExamEvaluationModel) ViewBag.EvaluationModel;
}

<h2>Take Exam</h2>


@using (Html.BeginForm())
{
    var questionCounter = 0;

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.Id)

        <div class="panel panel-default">
            <div class="panel-heading">@Model.Name</div>
            <div class="panel-body">
                <ol>
                    @foreach (var examTask in Model.ExamTasks)
                    {
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-10">
                                    <li>
                                        @Html.DisplayFor(model => examTask.Content)
                                        @Html.Hidden("Answers[" + questionCounter + "].QuestionId", examTask.Id)
                                    </li>
                                </div>
                            </div>
                            <br/>

                            <div class="row">
                                <div class="col-md-10">
                                    <ol type="a">
                                        @foreach (var solution in examTask.OfferedSolutions)
                                        {
                                            <li id="@solution.Id">
                                                @Html.RadioButton("Answers[" + questionCounter + "].AnswerId", solution.Id)
                                                <span>@solution.Result</span>
                                            </li>
                                        }
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <hr/>

                        questionCounter++;
                    }
                </ol>
            </div>
        </div>
        @if (ViewBag.Results)
        {
            <h3>You have scored @(100*evaluationModel.ScorePerc) %</h3>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit for evaluation" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Repository", "Details", new {Controller = "Repositories", Id = @Model.Repository.Id})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@if (ViewBag.Results)
{
    <script>
        $(document).ready(function() { 
            @foreach (var answer in evaluationModel.Answers)
            {
                if (!answer.IsCorrect())
                {
                    <text>
                        $("#@answer.AnswerId").css("background-color", "red");
                        
                    </text>
                }
                <text>
                    
                    $("#@answer.CorrectAnswerId").css("background-color", "green");
                   
                </text>
            }
        });
    </script>
}